*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.navbar{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2rem 5rem;
    grid-template-columns: 100%;
    /* border-bottom: 1px solid #e7e7e7; */
}

.navbar-top-container{
    background-color: #064a61;
    display: grid;
    justify-items: center;
    align-items: center;
    animation: slidefromup .3s linear;
}

.navbar-top{
    display: grid;
    grid-auto-flow: column;
    width: 90%;
    color: #b4c8cf;
    grid-template-columns: max-content max-content max-content 1fr;
    grid-gap: 3rem;
    justify-items: end;
}

.navbar-top-number-logo{
    font-weight: 800 !important;
    margin-right: 5px;
    transform: rotate(108deg);
}

.navbar-top-address-logo{
    font-weight: 800 !important;
    margin-right: 5px;
}

.navbar-top-duration-logo{
    font-weight: 800 !important;
    margin-right: 5px;
}

.navbar-top-social-links{
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    align-items: center;
}

/* .navbar-top-number-logo{
    font-weight: 800;
} */

.navbar-main-container{
    display: grid;
    justify-items: center;
    align-items: center;
    animation: slidefromleft .3s linear;
    position: relative;
    grid-template-columns: 100%;
}

.navbar-main{
    display: flex;
    justify-content: space-between;
    /* grid-auto-flow: column; */
    width: 90%;
    grid-gap: 1rem;
    align-items: center;
}

.navbar-main-logo-h3{
    font-weight: 700;
    font-size: 2rem;
    color: #064a61;
    line-height: 1.1;
    text-decoration: line-through;
    text-decoration-thickness: from-font;
    text-decoration-color: white;
}

.navbar-main-logo-p{
    color: #8bb9d2;
    letter-spacing: 4.6px;
}

.navbar-main-links{
    list-style-type: none;
    display: flex;
    width: 51rem;
    flex-wrap: wrap;
    grid-auto-flow: column;
    font-size: 1.2rem;
    color: #8bb9d2;
    text-transform: capitalize;
    align-items: center;
    font-weight: 500;
    justify-content: center;
}

.navbar-main-link{
    letter-spacing: .3px;
    margin-right: 7px;
}

.navbar-main-link:hover{
    color: #064a61;
    height: 5rem;
    display: grid;
    align-items: center;
}

.navbar-main-dropdown-container{
    display: none;
    width: 100vw;
    height: -webkit-fill-available;
    position: fixed;
    left: 0;
    top: 7rem;
    z-index: 100;
    border-top: 2px solid #064a61;
}

.navbar-main-dropdown-container-row-1{
    height: max-content;
    display: grid;
    justify-items: center;
    padding: 3rem 0;
    background-color: white;
}

.navbar-main-dropdown-container-row-2{
    height: -webkit-fill-available;
    background-color: #00000063;
}

.navbar-main-link:hover ~ .navbar-main-dropdown-container{
    display: block;
}

.navbar-main-dropdown-container:hover{
    display: block;
}

.navbar-main-dropdown{
    width: 90%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.navbar-main-dropdown-selections{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
}

.navbar-main-dropdown-selection{
    display: grid;
    grid-gap: 1rem;
    align-content: start;
}

.navbar-main-dropdown-selection-name{
    color: #064a61;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.navbar-main-dropdown-selection-links{
    display: grid;
    list-style-type: none;
    font-size: 1rem;
    color: #8bb9d2;
    letter-spacing: .8px;
    word-spacing: 1px;
    grid-gap: 1rem;
}

.navbar-main-dropdown-option{
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: max-content 1fr;
}

.navbar-main-dropdown-option-details{
    display: flex;
    justify-content: space-between;
}

.navbar-main-dropdown-option-name{
    color: #064a61;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.navbar-main-dropdown-option-navigations{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    align-items: center;
}

.navbar-main-dropdown-option-navigation{
    color: #064a61;
    font-size: 1.1rem;
}

.navbar-main-dropdown-option-items{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: space-between;
}

.navbar-main-dropdown-option-item{
    display: grid;
    grid-gap: 1rem;
}

.navbar-main-dropdown-option-item-img{
    width: 12rem;
    height: 15rem;
}

.navbar-main-dropdown-option-item-name{
    color: #8bb9d2;
    font-size: 1rem;
    letter-spacing: .5px;
    word-spacing: .8px;
}

.navbar-main-dropdown-option-item-price{
    color: #064a61;
    font-size: 1rem;
    font-weight: 800;
}

.navbar-main-icons{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2rem;
    font-size: 1.5rem;
    justify-content: end;
    color: #8bb9d2;
}

.navbar-main-icon{
    cursor: pointer;
    position: relative;
}

.numberofitems{
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #064a61;
    color: white;
    top: -2px;
    right: -2px;
    font-size: 8px;
    text-align: center;
    display: grid;
    align-items: center;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: inherit;
}

.openbtn {
    display: none;
    font-size: 20px;
    text-align: start;
    cursor: pointer;
    color: #064a61;
    padding-right: 10px;
    border: none;
    position: absolute;
    background-color: transparent;
    top: 0rem;
    right: 0rem;
}

@media only screen and (max-width: 730px){

    .navbar_link{
        display: none;
    }

    .openbtn{
        display: block;
    }

    .navbar{
        grid-template-rows: 2rem max-content;
    }

    .navbar-main-links{
        display: none;
    }

    .navbar-main-icons{
        display: none;
    }

    .navbar-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .navbar{
        grid-template-rows: max-content max-content;
    }

    .navbar-top-container{
        padding: 4px;
    }
}

.sidenav_container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    background-color: #1111118a;
    overflow-x: hidden;
    display: grid;
    justify-content: end;
}

  .sidenav {
    height: 100%;
    width: 20rem;
    z-index: 1;
    /* top: 0; */
    /* justify-self: end; */
    right: 0;
    background-color: #064a61;
    overflow-x: hidden;
    display: grid;
    grid-gap: 1rem;
    align-items: start;
    align-content: start;
  }

.sidenav-navbar-main-icons{
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-gap: 1rem;
    font-size: 1.5rem;
    /* justify-content: end; */
    padding: 2rem 2rem 0;
    color: #8bb9d2
}

.sidenav-navbar-main-icon{
    cursor: pointer;
    position: relative;
}

.sidenav-numberofitems{
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: white;
    color: #064a61;
    top: -2px;
    right: 2px;
    font-size: 8px;
    text-align: center;
    display: grid;
    align-items: center;
    font-weight: 700;
}


  .sidenav_top{
    display: grid;
    grid-auto-flow: column;
    /* width: max-content; */
    height: 100%;
    justify-content: space-between;
    /* grid-template-rows: 3rem; */
    grid-template-columns: 1fr 4rem;
  }


  
  .sidenav_social{
    width: 100%;
      height: 5rem;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-around;
      align-items: center;
      /* background: red; */
      align-self: end;
  }
  
  .social-link{
    text-decoration: none;
  }
  
  .sidenav_links{
    display: grid;
    grid-gap: 1rem;
  }
  
  .sidenav_link{
    float: none;
    padding: 12px;
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: none;
    width: 95%;
    color: white;
    background: none;
    outline: none;
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128,128,128,.2);
}

.sidenav_link:hover{
    width: 100%;
    background-color: rgb(241 241 241 / 0.04);
}

.sidedroplink{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #a0abb9;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidedroplink:hover{
    width: 100%;
    background-color: rgb(241 241 241 / 0.04);
}

.side-icon{
    font-size: 3rem;
}

.sidenav_logo{
    height: 8rem;
}

.closebtn {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: max-content;
    color: white;
    cursor: pointer;
}