@keyframes slideheaderform {
    0%   {
        transform: translateY(230px) translateX(10px);
        opacity: 0;
    }

    30%   {
        transform: scale(0.8);
    }

    40%   {
        transform: scale(0.9);
    }

    50%   {
        transform: scale(1);
    }

    100%   {
        transform: translateY(220px) translateX(0px);
        opacity: 1;
    }
  }

  @keyframes slidefromunder {
    0%   {
        transform: translateY(50px) translateX(10px) scale(0.5);
        opacity: 0;
    }

    30%   {
        transform: scale(0.8);
    }

    40%   {
        transform: scale(0.9);
    }

    50%   {
        transform: translateY(-7px) scale(1);
    }

    60%   {
        transform: translateY(-3px);
    }

    70%   {
        transform: translateY(-4px);
    }

    100%   {
        transform: translateY(0px) translateX(0px) scale(1);
        opacity: 1;
    }
  }

    .slidefromunder{
        animation-timing-function: ease-in;
        -webkit-animation-name: slidefromunder;
        animation-name: slidefromunder;
    }

  @keyframes slidefromup {
    0%   {
        transform: translateY(-10px);
        opacity: 0;
    }
    100%   {
        transform: translateY(0px);
        opacity: 1;
    }
  }

  @keyframes opacity {
    0%   {
        transform: scale(0.5);
        opacity: 0;
    }

    30%   {
        transform: scale(0.8);
    }

    40%   {
        transform: scale(0.9);
    }

    50%   {
        transform: scale(1);
    }

    100%   {
        opacity: 1;
    }
  }

  .opacity{
    animation-timing-function: ease-in;
    -webkit-animation-name: opacity;
    animation-name: opacity;
}

  @keyframes slidefromleft {
    0%   {
        transform: translateX(-10px);
        opacity: 0;
    }
    100%   {
        transform: translateX(0px);
        opacity: 1;
    }
  }

  @keyframes slidefromright {
    0%   {
        transform: translateX(50px);
        opacity: 0;
    }
    100%   {
        transform: translateX(0px);
        opacity: 1;
    }
  }
  

  @keyframes spinner-border{
      100%{
        webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
  }